:root{
  font-family: 'pass start 2p','system ui';
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
body{
  background-color: black;
}